h {
  	color: black;
  	font-family: office_code_pro_li;
  	font-size: 72pt;
  	/*text-align: center;*/
}
.titleBody {
	text-align: center;
}

hr.titleBar {
	margin-block-start: 0;
}

@font-face {
  font-family: office_code_pro_li;
  src: url(./ocp_li.woff);
}